<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paymentuser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TransferActivity"
            android:label="@string/transfer"></activity>
        <activity
            android:name=".PPOBActivity"
            android:label="@string/ppob" />
        <activity
            android:name=".BelanjaConfirmationActivity"
            android:label="@string/belanjaconfirmation" />
        <activity
            android:name=".BelanjaVerifyActivity"
            android:label="@string/belanjaverify" />
        <activity
            android:name=".BelanjaActivity"
            android:label="@string/belanja" />
        <activity
            android:name=".WithdrawActivity"
            android:label="@string/withdraw" />
        <activity
            android:name=".MutasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TopUpConfirmationActivity"
            android:label="@string/topupconfirmation" />
        <activity
            android:name=".TopUpActivity"
            android:label="@string/topup" />
        <activity
            android:name=".InputCCActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>